body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin: 100 auto 0 auto;
  font-family: 'Handlee', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  font-weight: normal;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  margin-bottom: 5px;
}
h3 {
  font-family: 'Lato', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
  margin: 0 20px 0 20px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #1E62D0;
}
p {
  font-family: 'Poppins', sans-serif;
  line-height: 2;
}
hr{
  clear: both;
  width: 5%;
  border-style: dotted none none;
  border-width: 10px;
  border-color: #da7f8f;
}
.desc2{
  font-weight: bold;
  margin-top: 0;

}
.profilepicture{
  margin-top: 50px;
  height: 200px;
  width: 200px;
}
.profile{
  margin: auto auto 30px auto;
  width: 35%;
}

.Upper {
  position: relative;
  padding-top: 100px;
  background-color: #caf7e3;
}

.skill-row{
  width: 50%;
  margin: 0 auto 0 auto;
  text-align: left;
}
.educationpic{
  float: left;
  margin-right: 30px;
  width: 15%;
}
.skill-row2{
  width: 50%;
  margin: 25px auto 0 auto;
  line-height: 2;
  text-align: right;
}
.webdevpic2{
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 15%;
}

.Middle {

}

.End {
  background-color: #e4bad4;
  padding: 25px;
}

.Web {
  text-decoration: underline;
  font-weight: bold;
}

.top {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.copyright{
  color: white;
}
.contact-me{
  margin: 10px auto 100px auto;
}
.contact-me1{
  margin: 25px auto 50px auto;
}

.contact-me2{
  margin: 10px auto 0 auto;
}

.contact-me3{
  margin: 10px auto 50px auto;
}
.btn {
   background: #5A2BD7;
   background-image: -webkit-linear-gradient(top, #5A2BD7, #F2DFF6);
   background-image: -moz-linear-gradient(top, #5A2BD7, #F2DFF6);
   background-image: -ms-linear-gradient(top, #5A2BD7, #F2DFF6);
   background-image: -o-linear-gradient(top, #5A2BD7, #F2DFF6);
   background-image: -webkit-gradient(to bottom, #5A2BD7, #F2DFF6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Poppins', arial;
   font-size: 23px;
   font-weight: 100;
   padding: 19px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: none;
   color: #FFFFFF;
   background: #F2DFF6;
   background-image: -webkit-linear-gradient(top, #F2DFF6, #5A2BD7);
   background-image: -moz-linear-gradient(top, #F2DFF6, #5A2BD7);
   background-image: -ms-linear-gradient(top, #F2DFF6, #5A2BD7);
   background-image: -o-linear-gradient(top, #F2DFF6, #5A2BD7);
   background-image: -webkit-gradient(to bottom, #F2DFF6, #5A2BD7);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
